.color-pesok {
    padding: 3% 0;
}

.adv-options {
    margin-bottom: 10px;
    display: flex;
}

.abbreviature-search-link {
    color: #0066cc;
    text-decoration: underline;
}

.abbreviature-search-link:visited {
    color: #0066cc;
    text-decoration: underline;
}

label {
    display: block;
    margin-left: 10px;
    font-size: 14px;
    padding: 0 0 0 4px;
}

.vl {
    height: 375px;
    top: 10;
    border-left: 1px solid #920000;
    margin-left: 7px;
}

.advanced-search-block>form>input[type="search"] {
    border: 1px solid #920000;
}

.advanced-search-block {
    padding: 30px 0 30px;
}

.abbreviature-search-link {
    font-size: 14px;
}

.thems-block {
    max-width: 250px;
    margin-right: 2%;
    padding: 0 3% 0 0;
    margin-left: 1%;
}

.search-block-thems {
    margin: 3%;
}

.link-tolkovaniya-search {
    padding-top: 20px;
}

.search-area {
    border-bottom: 1px solid #920000 !important;
    padding: 5px 0 5px;
}

.search-section-name {
    margin: 0 0 10px;
    font-size: 20px;
    color: #920000;
    font-weight: 500;
}

.search-area>div {
    margin: 5px 0 5px;
}

.input-ok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;

}

.btn-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    flex: 1;
}

.btn-go {
    background: #920000;
    color: #ffffff;
    padding: 10px;
    max-width: 150px;
    min-width: 75px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #920000;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
}

.btn-go:hover {
    color: #920000;
    background-color: #ffffff;
    transition: all .3s linear;
}

.advanced-search-input {
    flex: 1;
    padding: 10px;
    max-width: 70%;
    border: 1px solid #920000;
    border-radius: 8px;
}

.advanced-search-input:focus-visible,
.advanced-search-input:focus,
.advanced-search-input:active {
    outline: 2px solid #920000;
}

.advanced-search-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.advanced-search-col {
    flex: 1;
}

.select select {
    border-radius: 8px;
    padding: 5px;
    width: 100%;
}

.select select:focus {
    outline: 1px solid #920000;
}

.advanced-search-block {
    padding: 30px 0 30px;
    border-radius: 8px;
}

.advanced-search-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px;
    padding-top: 20px;
}

.advanced-search-col {
    flex: 1;
    min-width: 200px;
    padding: 0 20px;
    border-right: 2px solid #920000;
    border-left: 2px solid #920000;
}

.advanced-search-col:first-child {
    padding: 0 20px 0 0;
    border: 0;
}

.advanced-search-col:last-child {
    padding: 0 0 0 20px;
    border: 0;
}

.advanced-search-block {
    max-width: 750px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .advanced-search-row {
        padding-top: 0;
    }

    .advanced-search-col,
    .advanced-search-col:last-child {
        padding: 20px 0;
        min-width: 260px;
        border: 0;
    }

    body .color-pesok {
        padding: 0;
    }
}

.case-option {
    display: flex;
    width: 100%;
}

.case-option label {
    display: flex;
    margin: 5px 0 0;
    padding: 0;
}

.case-option span {
    margin: 0 0 0 10px;
}